{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}系统管理{% endblock %}

{% block content %}
{% if request.user.is_staff %}
<form action="/admin/" method="get" class="form">
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <select id="inputState" class="form-control" name="user">
              <option selected value ="" selected>所有用户</option>
              {% for user in user_list %}
              <option value="{{ user }}" {% if query_user == user %} selected{% endif %}>{{ user }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
      </div>
</form>

{% if object_list %}
<form action="/admin/delete/" method="post" class="form">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">用户</th>
                <th scope="col">时间</th>
                <th scope="col">文件名</th>
                <th scope="col">原图片</th>
                <th scope="col">处理结果</th>
            </tr>
        </thead>
        <tbody>
            {% for record in object_list %}
            <tr>
                <th scope="row">
                    <input class="form-check-input" type="checkbox" name="id" value="{{ record.id }}"
                        id="check_{{ record.id }}" />
                    <label class="form-check-label" for="check_{{ record.id }}">{{ record.id }}</label>
                </th>
                <td>{{ record.user  }}</td>
                <td>{{ record.time  | date:"Y年m月d日 H:i:s"  }}</td>
                <td>{{ record.filename }}</td>
                <td><img class="fit-picture" width="240px" src="{{ record.file.url }}" /></td>
                <td><a href="/process/record/{{ record.id }}">点击查看</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-danger">删除</button>
    <button type="button" class="btn btn-primary"
        onclick="window.location.href='./?{{ query_param }}page={{ page_obj.number|add:"-1" }}'" {% if page_obj.number == 1 %} disabled
        {% endif %}>上一页</button>
    <span>第{{ page_obj.number }}/{{ paginator.num_pages }}页</span>
    <button type="button" class="btn btn-primary" onclick="window.location.href='./?{{ query_param }}page={{ page_obj.number|add:"1" }}'"
        {% if page_obj.number == paginator.num_pages %} disabled {% endif %}>下一页</button>
</form>
{% else %}
所查询的记录为空
{% endif %}

{% else %}
您没有管理员权限
{% endif %}
{% endblock %}