{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<title>
  {% block title %}{% endblock %} - Pic Demo
</title>

{% block nav_bar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Pic Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">主页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/process">图像处理</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <span class="navbar-text">
          你好，{{ request.user }}
        </span>
      </li>
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/admin"> 系统管理 </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/records"> 操作记录 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"> 退出 </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login"> 登录 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register"> 注册 </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block messages %}
{% bootstrap_messages %}
{% endblock %}


<div class="container">
  {% block content %}
  {% endblock %}
</div>