{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}图像处理结果{% endblock %}

{% block content %}
{% if request.user == object.user or request.user.is_staff %}
<ul class="list-group">
    <li class="list-group-item">
        <h5 class="mb-1">文件名</h5>
        {{ object.filename }}
    </li>
    <li class="list-group-item">
        <h5>原图片</h5>
        <img class="fit-picture" style="max-width:800px" src="{{ object.file.url }}" />
    </li>
    <li class="list-group-item">
        <h5>图像分类</h5>
        <div id="classify">
            加载中
        </div>
    </li>
    <li class="list-group-item">
        <h5>人脸检测</h5>
        <div id="face">
            加载中
        </div>
    </li>
</ul>

<script>
    $.ajaxSetup({
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    function getClassify() {
        let data = {
            'field': 'classify'
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '/process/record/{{ object.id }}',
            data: data,
            dataType: 'json',
            success: function (d) {
                console.log(d);
                if (d.success) {
                    if (d.data) {
                        let res = JSON.parse(d.data);
                        $('#classify').html(`<table class="table">
                        <thead><tr><th scope="col">分类</th><th scope="col">得分</th></tr></thead>
                        <tbody>
                            ${res.map(item => `
                                <tr>
                                    <td>${item.class}</td>
                                    <td>${item.score}</td>
                                </tr>
                                `).join('')}
                        </tbody>
                        </table>`);
                    }
                    else {
                        $('#classify').html('<div>处理中...</div>');
                        setTimeout(getClassify, 1000);
                    }
                } else {
                    $('#classify').html('<div>' + d.message + '</div>');
                }
            },
            error: function (d) {
                $('#classify').html('<div>请求失败</div>');
            }
        });
    }

    function getFace() {
        let data = {
            'field': 'face'
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '/process/record/{{ object.id }}',
            data: data,
            dataType: 'json',
            success: function (d) {
                console.log(d);
                if (d.success) {
                    if (d.data) {
                        $('#face').html(`<img class="fit-picture" style="max-width:800px" src="${d.data}" />`);
                    }
                    else {
                        $('#face').html('<div>处理中...</div>');
                        setTimeout(getFace, 1000);
                    }
                } else {
                    $('#face').html('<div>' + d.message + '</div>');
                }
            },
            error: function (d) {
                $('#face').html('<div>请求失败</div>');
            }
        });
    }

    $(document).ready(function () {
        getClassify()
        getFace()
    });
</script>
{% else %}
<p>您没有访问权限</p>
{% endif %}
{% endblock %}

{# Read the documentation for more information #}