{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}首页{% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <h4 class="mb-1">图像分类</h4>
        <img src="/static/classify_demo.png" alt="My image">
    </li>
    <li class="list-group-item">
        <h4 class="mb-1">人脸检测</h4>
        <img src="/static/face_detection_demo.png" alt="My image">
    </li>
</ul>
{% endblock %}

{# Read the documentation for more information #}